.section2_main{
    display:flex;justify-content: space-around; 
    /* border:2px solid blue; */
    flex-wrap: wrap;
    
    padding-top:5% ;
    
}

.section2_components{
    /* border:2px solid red; */
    justify-content:center;
    

}

.btn-load{display: flex;justify-content:center;padding-top: 20px;}
#myBtnea{flex:.6;display: flex;}
#myBtne{justify-content:center;text-align: center;}
#moree{display:none;justify-content: center;flex-wrap: wrap;}
#section_component_left{flex:.8;display:flex;
    /* border:2px solid green; */
    flex-wrap: wrap;}
#section_component_right{flex:.5;justify-content: center;display: flex;padding-top:17px;flex-wrap: wrap;}

.right_card{
    width:290px;height:400px;text-align:center;padding-top:18px;
}



@media only screen and (max-width:865px) {
    .section2_main{
        flex-direction: column;
    }

} 