.section3_main{
    display:flex;justify-content: space-around;
    margin-top: 10%;
    /* border: 2px solid blue; */
    align-items: center;
    flex-wrap: wrap;
}


.label:focus {
    color: #ffff;
}
.MuiStepContent-root {
   border-left: 0px !important;
}

.MuiStepConnector-lineVertical {
    min-height: 45px !important;
}


@media only screen and (max-width:865px) {
    .about{
        margin-left:17px;
    }

} 