.section5{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-top:10px;
padding-left: 10px;
margin-left: 100px;
}


.section5 > div > p {
    margin-top: 10px;
}

.slider__sec {
    width: 65%;
    justify-content: space-around;
}

.slider__image {
    width: 100%;

}


#more{display: none;}
#moreb {display: none;}

.treeView{
    display:flex;justify-content: space-between;
}

.left{
    flex:12;border:2px solid blue;display: flex;
}