.banner{
    padding-top: 4%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding-bottom: 3%;  
    flex-wrap: wrap;
background: transparent ;
  }



.banner_text{
color:white
}

@media only screen and (max-width: 750px) {
    .banner {
      justify-content: flex-start;
      padding-left: 10%;
    }
  }